{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    // * All JS rules
    "no-console": "off",
    "no-underscore-dangle": 0,
    "no-warning-comments": [
      2,
      { "terms": ["temp", "no-commit", "dont-commit"], "location": "start" }
    ],
    "radix": 0,
    "global-require": 0,
    "quote-props": ["error", "consistent-as-needed"],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    // "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "object-shorthand": ["error", "properties"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],

    // * All react rules
    "react/jsx-filename-extension": [1, { "extensions": [".js", "tsx"] }],
    "react/destructuring-assignment": 0,

    // * React 17 special
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    "no-restricted-syntax": [
      "error",
      {
        "selector": "ImportDeclaration[source.value=/.*\\.css/]:matches(!ImportDeclaration[source.value=/.*\\.css/] ~ ImportDeclaration[source.value!=/.*\\.css/])",
        "message": "CSS imports should be after all other imports"
      }
    ]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src"]],
        "extensions": [".ts", ".js", ".jsx", ".tsx", ".json"]
      }
    }
  }
}
