{
  "extends": ["stylelint-prettier/recommended", "stylelint-config-css-modules"],
  "ignoreFiles": [
    "**/*.js",
    "**/*.tsx",
    "node_modules/**/*.css",
    "public/static/styles/*.css"
  ],
  "rules": {
    "color-hex-case": null,
    "color-hex-length": "long"
  }
}
