.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
